<% layout("./layouts/boilerplate.ejs") %>

<h4 class="mb-3 mt-3" style="color: #0000008f;">Send Quick Mail <i class="fa-regular fa-envelope" style="color: #0000008f;"></i></h4>

<%if(message){ %>
  <p class="text-success center">message has successfully sent...</p>
<%} %>
<form action="/send" id="send-form" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
  <div class="mb-3">
    <label for="email" class="form-label">To : </label>
    <input type="email" name="to" class="form-control" placeholder="name@example.com" required>
  </div>
  <div class="mb-3">
    <label for="subject" class="form-label">Subject : </label>
    <input type="text" name="sub" class="form-control" id="subject" placeholder="Subject">
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">message : </label>
    <textarea class="form-control" name="msg" id="message" rows="3" placeholder="Write your message..."></textarea>
  </div>
  <div class="mb-3" id="files">
    <label for="file" class="form-label">Add Files : </label>
    <input class="form-control mb-1 form-control-sm copy" name="data" type="file" multiple id="file">
  </div>
  <div class="mb-3">
    <button type="button" id="add" class="btn btn-sm btn-primary">Add more <i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
  </div>
  <div class="mt-5 mb-5 center">
    <button type="submit" class="btn btn-success">Send <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i></button>
  </div>
  
</form>

<div id="loader" style="display: none;">
  <div class="con-loader">
    <div class="spinner-grow text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-danger" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-warning" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <p>Sending Mail, please wait...</p>
  </div> 
</div>

