<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="#">
      <img src="assets/logo5.png" class="logo5" alt="" height="35" >
    </a>
    <img src="assets/logo-2.png" alt="Parul Univesity"  height="26">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #74C0FC;"></i>
    </button>
    <div class="offcanvas offcanvas-end bg-body-tertiary" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header offcan-logo">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Parul Univesity</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href=""><i class="fa-solid fa-house" style="color: #000000;"></i></i> &nbsp;Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mail"><i class="fa-regular fa-envelope" style="color: #000000;"></i> &nbsp;Send Quick Mail</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://pu.navpadinfotech.com/"><i class="fa-solid fa-check-double" style="color: #000000;"></i> &nbsp;Mark Atenndence</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ums.paruluniversity.ac.in/"><i class="fa-solid fa-user-secret" style="color: #000000;"></i> &nbsp;GNUMS Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://paruluniversity.ac.in/"><i class="fa-solid fa-building-circle-check" style="color: #000000;"></i> &nbsp;Get Addmition</a>
          </li>

          <hr>

          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/paruluniversity"><i class="fa-brands fa-instagram" style="color: #000000;"></i> &nbsp;Instagram</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/ParulUniversity"><i class="fa-brands fa-facebook-f" style="color: #000000;"></i> &nbsp;FaceBook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://x.com/ParulUniversity"><i class="fa-brands fa-square-x-twitter" style="color: #000000;"></i> &nbsp;Twitter</a>
          </li>

        </ul>
        
      </div>
    </div>
  </div>
</nav>